
$title-color: $sol-violet;
$border-color: $sol-blue;

$body-color: $sol-base01;
$body-bg: $sol-base3;
$link-color: $sol-blue;

$heading-color: $sol-base01;
$strong-color: $sol-red;

$code-color: $sol-base02;
$code-bg: $sol-base2;
$code-line-num-color: $sol-orange;

$pag-border: $sol-blue;
$pag-active-bg: $sol-base2;
$pag-active-color: $sol-blue;
$pag-active-hover-bg: $sol-blue;
$pag-active-hover-color: $sol-base3;

$pag-inactive-bg: $sol-base2;
$pag-inactive-color: $sol-base1;

$post-title-color: $sol-base00;
$post-date-color: $sol-base1;

$post-related-color: $sol-cyan;
$post-related-hover-color: $sol-blue;

$hr-color-1: $sol-cyan;
$hr-color-2: $sol-blue;

$abbr-color: $sol-blue;
$abbr-ul-color: $sol-blue;

$blockquote-bg: $sol-base02;
$blockquote-left: $sol-violet;

$highlight-bg: $sol-base2;

$table-border: $sol-cyan;
$table-header-border: $sol-base1;
$table-bg: $sol-base2;

$message-color: $sol-base01;
$message-bg: $sol-base2;
