$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$base-grey-0: #181818;
$base-grey-1: #282828;
$base-grey-2: #383838;
$base-grey-3: #585858;
$base-grey-4: #b8b8b8;
$base-grey-5: #d8d8d8;
$base-grey-6: #e8e8e8;
$base-grey-7: #f8f8f8;
$base-red: #ab4642;
$base-orange: #dc9656;
$base-yellow: #f7ca88;
$base-green: #a1b56c;
$base-cyan: #86c1b9;
$base-blue: #7cafc2;
$base-purple: #ba8baf;
$base-brown: #a16946;

$sol-base03:    #002b36;
$sol-base02:    #073642;
$sol-base01:    #586e75;
$sol-base00:    #657b83;
$sol-base0:     #839496;
$sol-base1:     #93a1a1;
$sol-base2:     #eee8d5;
$sol-base3:     #fdf6e3;
$sol-yellow:    #b58900;
$sol-orange:    #cb4b16;
$sol-red:       #dc322f;
$sol-magenta:   #d33682;
$sol-violet:    #6c71c4;
$sol-blue:      #268bd2;
$sol-cyan:      #2aa198;
$sol-green:     #859900;
